@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #F7FADF;
  --color-green-100: #EEF4C3;
  --color-green-200: #DFE88F;
  --color-green-300: #CBD75C;
  --color-green-400: #A9BE34;
  --color-green-500: #7FA51C;
  --color-green-600: #6B8C18;
  --color-green-700: #587314;
  --color-green-800: #465B12;
  --color-green-900: #394A11;
  --color-green-950: #1E2807;
}

:root:not(.dark),
.light {
  --ui-success: #587314;
}

.dark {
  --color-green-50: #F8FBE6;
  --color-green-100: #F0F7C8;
  --color-green-200: #E1EE96;
  --color-green-300: #CFE067;
  --color-green-400: #BDD146;
  --color-green-500: #ABBE39;
  --color-green-600: #8CA02B;
  --color-green-700: #6B7C20;
  --color-green-800: #525E1C;
  --color-green-900: #45501B;
  --color-green-950: #242C0B;
}
