@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #F7FADF;
  --color-green-100: #EEF4C3;
  --color-green-200: #DFE88F;
  --color-green-300: #CBD75C;
  --color-green-400: #A9BE34;
  --color-green-500: #7FA51C;
  --color-green-600: #6B8C18;
  --color-green-700: #587314;
  --color-green-800: #465B12;
  --color-green-900: #394A11;
  --color-green-950: #1E2807;
}

.dark {
  --color-green-50: #FCFEEA;
  --color-green-100: #F7FDD2;
  --color-green-200: #F0FBA9;
  --color-green-300: #E5F87A;
  --color-green-400: #D4F04E;
  --color-green-500: #C4F542;
  --color-green-600: #9FCC26;
  --color-green-700: #789C1B;
  --color-green-800: #5D7818;
  --color-green-900: #4F6419;
  --color-green-950: #283707;
}
